  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar" style="height:100%">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/home">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    
      <li class="nav-item nav-category" *ngIf="currentUser.role=='admin'">Users</li>
      <li class="nav-item" *ngIf="currentUser.role=='admin'">
        <a class="nav-link" data-bs-toggle="collapse" href="#users" aria-expanded="false" aria-controls="jobs">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">Users</span>
          <i class="menu-arrow"></i>
        </a>
        
        <div class="collapse" id="users">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/Candidates/list"> Candidates List</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/Companies/list">Companies List</a></li>

          </ul>
        </div>
        
      </li>
      <li class="nav-item nav-category" *ngIf="currentUser.role=='admin'">Jobs</li>
      <li class="nav-item" *ngIf="currentUser.role=='admin'">
        <a class="nav-link" data-bs-toggle="collapse" href="#offer" aria-expanded="false" aria-controls="jobs">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">Jobs offers</span>
          <i class="menu-arrow"></i>
        </a>
        
        <div class="collapse" id="offer">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/offers/list"> Jobs List</a></li>
           

          </ul>
        </div>
        
      </li>
      <li class="nav-item" *ngIf="currentUser.role=='admin'">
        <a class="nav-link" data-bs-toggle="collapse" href="#cat" aria-expanded="false" aria-controls="jobs">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">Categories</span>
          <i class="menu-arrow"></i>
        </a>
        
        <div class="collapse" id="cat">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" routerLink="/admin/cat"> Add Categorie</a></li>
            <li class="nav-item"><a class="nav-link" href="/admin/getAllCat">Category List</a></li>

          </ul>
        </div>
        
      </li>
   
      <li class="nav-item nav-category" *ngIf="currentUser.role=='company'">Jobs</li>
      <li class="nav-item" *ngIf="currentUser.role=='company'">
        <a class="nav-link" data-bs-toggle="collapse" href="#jobs" aria-expanded="false" aria-controls="jobs">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">My job offers</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="jobs">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"><a class="nav-link" href="/admin/job/add">Add new job</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/admin/job/list">List Jobs</a></li>

          </ul>
        </div>
      </li>
     
    
    </ul>
  </nav>
  <!-- partial -->