
    <aside class="user-info-wrapper">
        <div class="user-cover" style="background-image: url(https://bootdey.com/img/Content/bg1.jpg);">
            <div class="info-label" data-toggle="tooltip" title="" data-original-title="You currently have 290 Reward Points to spend"><i class="icon-medal"></i>290 points</div>
        </div>
        <div class="user-info">
            <div class="user-avatar">
                <a class="edit-avatar" href="#"></a><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User"></div>
            <div class="user-data">
                <h4>{{profileinfo.username}}</h4><span></span>
            </div>
        </div>
    </aside>
    <nav class="list-group">
        <a class="list-group-item with-badge" routerLink="/candidacy"><i class=" fa fa-th"></i>Applications<span class="badge badge-primary badge-pill">6</span></a>
        <a class="list-group-item" routerLink="/profile"><i class="fa fa-user"></i>Profile</a>
        
        <a class="list-group-item with-badge active" routerLink="/wishlist"><i class="fa fa-heart"></i>Wishlist<span class="badge badge-primary badge-pill">3</span></a>
        
    </nav>
