
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add new job</h4>
        <form [formGroup]="NewJob" (ngSubmit)="onSubmit()">
      
          <div class="form-group">
            <label for="title">title</label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" formControlName="title" class="form-control" id="title" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="description">description</label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" formControlName="description" class="form-control" id="description" placeholder="description">
          </div>
          <div class="form-group">
            <label for="placesAvailable">Available places</label>
            <input type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.placesAvailable.errors }" formControlName="placesAvailable" id="placesAvailable" placeholder="123">
          </div>
          <div class="form-group">
            <label for="qualifications">qualifications(comma seperated)</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.qualifications.errors }" formControlName="qualifications" id="qualifications" placeholder="java,php">
          </div>
          <div class="form-group">
            <label for="technologiesReq">Technologies Requirement(comma seperated)</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.technologiesReq.errors }" formControlName="technologiesReq" id="technologiesReq" placeholder="java,php">
          </div>
          <div class="form-group">
            <label for="diplomaReq">Deploma Requirement(comma seperated)</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.diplomaReq.errors }" formControlName="diplomaReq" id="diplomaReq" placeholder="bachelor,..">
          </div>
          <div class="form-group">
            <label for="diplomaReq">Localisation</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.localisation.errors }" formControlName="localisation" id="localisation" placeholder="">
          </div>
          <div class="form-group">
            <label for="jobtype">Job Type</label>
            <br>
            <select class="form-control" [ngClass]="{ 'is-invalid': submitted && f.jobtypes.errors }" formControlName="jobtypes" id="jobtype">
                      <option>Remote</option>
                      <option>Full time</option>
                     
            </select>
          </div>
          
          <button type="submit" class="btn btn-primary me-2">Submit</button>

        </form>
      </div>
    </div>
</div>

