<main >

    <!-- Hero Area Start-->
    <div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>UI/UX Designer</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120" >
        <div class="container" >
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            
                            <div class="job-tittle">
                                <a href="#">
                                    <h4></h4>
                                </a>
                                <ul>
                                    <li>{{jobs.CompanyID.CompanyName}}</li>
                                    <li><i class="fas fa-map-marker-alt"></i>{{jobs.CompanyID.CompanyAddress}}</li>
                                    <li>$3500 - $4000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                      <!-- job single End -->
                   
                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>{{jobs.description}}</p>
                        </div>
                        <div class="post-details2  mb-50">
                             <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Required Qualifications</h4>
                            </div>
                           <ul>
                            <li *ngFor="let job of jobs.qualifications.split(',')">{{job}}</li>

                               
                           </ul>
                        </div>
                        <div class="post-details2  mb-50">
                             <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                           <ul>

                               <li *ngFor="let diploma of jobs.diplomaReq.split(',')">{{diploma}}</li>
                               
                           </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                       <div class="small-section-tittle">
                           <h4>Job Overview</h4>
                       </div>
                      <ul>
                          <li>Posted date : <span>{{jobs. created_at}}</span></li>
                          <li>Location : <span>{{jobs.localisation}}</span></li>
                          <li>Vacancy : <span>{{jobs.placesAvailable}}</span></li>
                          <li>Job nature : <span>{{jobs.jobtypes}}</span></li>
                          
                      </ul>
                     <div class="apply-btn2">
                        <a [routerLink]="['/application',jobs.id]" class="btn">Apply Now</a>
                     </div>
                   </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                       <div class="small-section-tittle">
                           <h4>Company Information</h4>
                       </div>
                          <span>{{jobs.CompanyID.CompanyName}}</span>
                        <ul>
                            <li>Name: <span>{{jobs.CompanyID.CompanyName}} </span></li>
                            <li>Email : <span> {{jobs.CompanyID.email}}</span></li>
                            <li>Phone: <span>{{jobs.CompanyID.phone}}</span></li>
                        </ul>
                   </div>
                </div>
            </div>
            <div class="container">
                <div class="be-comment-block">
                    <h1 class="comments-title">Comments ({{comments.length}})</h1>
                    <div class="be-comment" *ngFor="let comment of comments">
                    
                        <div class="be-comment-content">
                            
                                <span class="be-comment-name">
                                    <a href="blog-detail-2.html">{{comment.UserID.username || comment.UserID.CompanyName}}</a>
                                    </span>
                                <span class="be-comment-time">
                                    <i class="fa fa-clock-o"></i>
                                    {{comment.createdAt}}
                                </span>
                
                            <p class="be-comment-text">
                                {{comment.Content}}
                            </p>
                        </div>
                    </div>
                  
                        <div class="row">
                          
                            <div class="col-md-12">									
                                <div class="form-group">
                                    <textarea class="form-input" [(ngModel)]="comment" name="first"  placeholder="Your text"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">									
                                <button class="btn btn-primary float-right" (click)="getComment()">submit</button>
                            </div>
                        </div>
                </div>
                </div>
        </div>
    </div>
    <!-- job post company End -->

</main>