<div class="col-sm-12" >
  <div class="home-tab">
   
    <div class="tab-content tab-content-basic">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
        <div class="row">
          <div class="col-sm-12">
            <div class="statistics-details d-flex align-items-center justify-content-between">
              <div>
                <p class="statistics-title">Candidates</p>
                <h3 class="rate-percentage">400</h3>
              </div>
              <div>
                <p class="statistics-title">Companies</p>
                <h3 class="rate-percentage">7,682</h3>
              </div>
              <div>
                <p class="statistics-title">Job Offers</p>
                <h3 class="rate-percentage">68</h3>
              </div>
              <div class="d-none d-md-block">
                <p class="statistics-title">Job Applies</p>
                <h3 class="rate-percentage">200</h3>
              </div>
          
            </div>
          </div>
        </div> 
    
       
      </div>
    </div>
  </div>
</div>