<div class="table-responsive">

<table class="table table-striped ">
    <thead>
      <tr>
        <th>
          User
        </th>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <th>
          Email
        </th>
        <th>
          Username
        </th>
        <th>
          birthdate
        </th>
        <th>
          Phone
        </th>
        <th>
          Adress
        </th>
        <th>
          Diploma
        </th>
        <th>
          Action
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let candidate of candidates">
        <td class="py-1">
          <img  src="{{candidate.image}}" onerror="this.src='/assets/admin/images/faces/face1.jpg'" alt="image"/>
        </td>
        <td>
         {{candidate.firstName || "-"}}
        </td>
        <td>
          {{candidate.lastName || "-"}}

        </td>
        <td>
          {{candidate.email || "-"}}

        </td>
        <td>
          {{candidate.Username || "-"}}

        </td>
        <td>
          {{candidate.birthdate || "-"}}

        </td>
        <td>
          {{candidate.phone || "-"}}

        </td>
        <td>
          {{candidate.adress || "-"}}

        </td>
        <td>
          {{candidate.Diploma || "-"}}

        </td>
        <td>
          <button *ngIf="candidate.staus=='active'" type="button" class="btn btn-primary">Enable</button>
          <button *ngIf="candidate.staus!='active'" type="button" class="btn btn-danger">Disable</button>

        </td>
       
      </tr>
      
      
    </tbody>
  </table>
</div>
